<!-- Binding Syntax -->
<!-- <gtn-binding-syntax></gtn-binding-syntax> -->

<!-- Directives -->
<!-- <gtn-directives></gtn-directives> -->

<!-- Pipes -->
<!-- <gtn-pipes></gtn-pipes> -->
<!-- Http More Topics
9.10 - 9.35 -->

<!-- Component Communication -->
<!-- <gtn-component-communication-parent></gtn-component-communication-parent> -->

<!-- LifeCycle Hooks -->
<!-- <gtn-lifecycle-hooks></gtn-lifecycle-hooks> -->

<!-- Dependency Injection | Service -->
<!-- <gtn-service></gtn-service> -->

<!-- Route -->
<!-- <a [routerLink]="['/pipes']">Pipes</a>
<br>
<a [routerLink]="['/directives']">Directives</a>
<br>
<a [routerLink]="['/wild-card']">Wild Card</a>
<hr>
<router-outlet></router-outlet> -->
<gtn-mat-nav></gtn-mat-nav>

<!-- Forms -->
<!-- <gtn-forms></gtn-forms> -->

<!-- Modules -->
<!-- <gtn-component-one></gtn-component-one> -->