<!-- BuiltIn Pipes -->

<div>{{ date | date : 'shortDate' }}</div>
<!-- Site : https://angular.io/api/common/DatePipe -->

<div>{{ case | lowercase}}</div>
<div>{{ case | uppercase}}</div>
<div>{{ case | titlecase}}</div>

<div>{{ currency | currency : 'EUR' }}</div>

<div>{{ decimal | number : '4.0-2'}}</div>

<div>{{ percentage | percent }}</div>

<div>{{ json | json }}</div>

<div>{{ slice | slice : 2:4 }}</div>

<div *ngFor="let room of roomList">
    {{room.roomType}}
</div>

<div>{{ rooms$ | async | json}}</div>

<div>{{ roomsModify$ | async }}</div>