<!-- ngOnChanges Hook -->
<!-- <gtn-ng-on-changes [myNgOnChanges1]="myNgOnChanges1" [myNgOnChanges2]="myNgOnChanges2"></gtn-ng-on-changes>
<button type="button" class="btn btn-primary" (click)="addNgOnChanges()">Add NgOnChanges</button> -->

<!-- ngOnInit Hook -->
<!-- <gtn-ng-on-init-and-constructor></gtn-ng-on-init-and-constructor> -->

<!-- ngDoCheck Hook -->
<!-- <gtn-ng-do-check></gtn-ng-do-check>
<button type="button" class="btn btn-primary" (click)="addNgDoCheck()">Add NgDoCheck</button> -->

<!-- Content Projection -->
<!-- <gtn-content-projection>
    <!-- you can set the html content like this
    <p><b>Content Projection</b></p>
    <gtn-ng-do-check></gtn-ng-do-check>
    <gtn-ng-on-init-and-constructor></gtn-ng-on-init-and-constructor>
</gtn-content-projection> -->

<!-- ngAfterContentInit Hook and ngAfterContentChecked Hook-->
<!-- <gtn-ng-after-content-init [ngAfterContentInitInput]="ngAfterContentInitInput">
    <p><b>ngAfterContentInit Hook</b></p>
    <gtn-ng-on-init-and-constructor></gtn-ng-on-init-and-constructor>
</gtn-ng-after-content-init> -->

<!-- ngOnDestroy Hook -->
<div *ngIf="onDestroyToggle else elseBlock">
    <p>ngOnDestroy!</p>
</div>
<ng-template #elseBlock>
    <div><gtn-ng-on-destroy></gtn-ng-on-destroy></div>
</ng-template>
<button type="button" class="btn btn-primary" (click)="clickOnDestroyToggle()">OnDestroyToggle</button>